
@font-face {
  font-family: kilogram;
  src: url('/fonts/kilogram.otf')
}
@font-face {
  font-family: molot;
  src: url('/fonts/molot.otf')
}
@font-face {
  font-family: titillium;
  src: url('/fonts/titillium-light.otf')
}
@font-face {
  font-family: aharoni;
  src: url('/fonts/aharoni-bold.ttf')
}

html {
  background: url(/images/header.jpg) repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}
 
body {
  width: 760px;
  margin: 120px auto;
  padding: 0 0 70px 0;
  line-height: 24px;
  background: #DDD;

  /* border: 1px solid #FEFFAD; */
  
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
 
h1 {
  font-family: molot, Helvetica;
  font-size: 90px;
  text-shadow: 4px 4px 0px #75A2AA;
  color: #FFE692;

  position: relative;
  top: -60px;
  margin-bottom: 0;
}

h1 .smaller {
  display: block;
  font-size: 34px;
  margin-bottom: 25px;
}

h2 {
  font-family: molot;
  text-size: 40px;
  color: #FFE99B;
  text-shadow: 2px 2px 0px #75A2AA;
  text-transform: uppercase;
}

#intro ol {
  font-family: titillium;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
}

#intro ol li p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.centered {
  margin: 0 auto;
  width: 560px;
}

.first-sentence {
  font-family: titillium;
  text-transform: uppercase;
}

#title {
  position: relative;
}
